{#include base} 
  {#title}Persona{/title} 
  {#body}
  <section class="section">
    <div id="app" class="container">
      <h1 class="title">
        Persona 
      </h1>
      <p class="subtitle">
        Observas las <strong>Personas</strong>!
      </p>
      <div id="pnlFormulario">

        <div class="message-header">
          <p>Personas Registradas a tus Entidades</p>
        </div>
  
          <table class="table is-fullwidth is-hoverable">
            <thead>
              <tr>
                <th class="is-hidden-touch">Entidad</th>
                <th>Persona</th>                            
                <th>Mail</th>                              
                <th>Teléfono</th>                              
                <th class="has-text-centered">Estado</th>
                <th class="has-text-centered is-hidden-touch">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {#for declaPersona in listaDeclaracionPersonas} 
              <tr>
                <td class="is-hidden-touch">{declaPersona.entidad.nombre}</td>              
                <td class="is-size-5">{#if declaPersona.persona.nombre == null }{declaPersona.persona.mail}{#else}{declaPersona.persona.getApellidoyNombre()}{/if}</td>              
                <td class="is-size-5">{declaPersona.persona.mail}</td>
                <td class="is-size-5">{declaPersona.persona.telefonoMovil}</td>
                <td class="">Estado</td>
                <td class="has-text-centered">
                  <button class="button" title="Editar">
                    <span class="icon">
                      <i class="fas fa-edit"></i>
                    </span>
                  </button>
                  <button class="button" title="Eliminar">
                    <span class="icon">
                      <i class="fas fa-trash"></i>
                    </span>
                  </button>
                  <button class="button" title="Cambiar Estado">
                    <span class="icon">
                      <i class="fas fa-toggle-on"></i>
                    </span>
                  </button>
                  <button class="button" title="Ver Declaración">
                    <span class="icon">
                      <i class="far fa-file-alt"></i>
                    </span>
                  </button>
                  <button class="button" title="Comunicarse">
                    <span class="icon">
                      <i class="fas fa-phone"></i>
                    </span>
                  </button>
                </td>  
              </tr>
              {/for}
            </tbody>
          </table>
  
      </div>

      <div id="pnlInfo">

      </div>
    </div>
  </section>  
  {/body}

  {#script}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {

    });

  </script>
  {/script}
  
{/include}
