<div class="tile is-parent">
    <article class="tile is-child notification is-primary">
      <p class="title"><span class="icon is-medium"><i class="fas fa-pen-alt"></i></span> <span class="is-hidden-touch">Firma tu </span>Declaración</p>
      <p class="subtitle">Completa los datos de la declaración</p>
      <div class="content">
        <p>
          <a href="/declaracion" class="card-footer-item button is-primary is-large">Firmar</a>
        </p>              
      </div>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-warning">
      <p class="title"><span class="icon is-medium"><i class="fab fa-fort-awesome"></i></span> <span class="is-hidden-touch">Registra tu </span>Negocio</p>
      <p class="subtitle">Accede al tablero de adminstración</p>
      <div class="content">
        <p>
          <a href="/admin/organizacion" class="card-footer-item button is-warning is-large">Accede!</a>
        </p>              
      </div>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-info">
      <p class="title"><span class="icon is-medium"><i class="fas fa-child"></i></span> Persona</p>
      <p class="subtitle">Registrate para acceder</p>
      <div class="content">
        <p>
          <a href="/registro" class="card-footer-item button is-info is-large">Registrarme</a>
        </p>              
      </div>
    </article>
  </div>
