{#include base} 
  {#title}Bienvenidos{/title} 
  {#body}  
  <section class="section">
    <div class="container">
      <h1 class="title">
        Bienvenidos 
      </h1>
      <p class="subtitle">
        Una app para firmar declaraciones juradas 
      </p>     

      <div class="tile is-ancestor">
        {#include include/tiles}{/include}
      </div>
      
    </div>
  </section>
  {/body}
  {#script}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
    });
  </script>
  {/script}
{/include}
